@charset "UTF-8";

/*
Cor 1 #c9c3b5
Cor 2 #b9b19f
Cor 3 #afaa9c
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to bottom, #c9c3b5, #68655c);
    height: 100vh;
    width: 100vw;
    color: #676355;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.236);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    width: 250px;
    height: 515px;
    border-radius: 7px;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/imagem.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 10px;
}

div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #676355;
}

div.campo > input {
    font-size: 1em;
    height: 80%;
    border-radius: 5px;
    border: none;
    width: calc(100% - 48px);
    transform: translateY(-11px);
}

div.campo > label {
    display: none;
}

i.material-icons {
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 5px;
}

a#enviar {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.244);
    color: white;
    background-color:#676355;
}

a#enviar:hover {
    background-color: #b1ab9f;
    cursor: pointer;    
    transition-duration: 0.3s;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.247);
    color: #676355;
    background-color: white;
}

i#esqueceu {
    background-color: rgba(255, 255, 255, 0);
    font-size: 0.8em;
    color: #676355;
}

form > a.botao:hover {
    background-color: #c9c3b5;
    cursor: pointer;    
    transition-duration: 0.3s;
}
